serverFiles:
  prometheus.yml:
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: 'specialistsearch'
        metrics_path: /actuator/prometheus
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: specialistsearch-svc
          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: http
